In [7]:
import pandas as pd 
import numpy as np

# 1. Loading the Dataset

Before applying the PC algorithm, we filter the dataset to focus only on the relevant data. This involves selecting data from specific years, experience levels, and other criteria that match our study's requirements.

In [8]:
df = pd.read_csv('salaries.csv')
filtered_df = df[
    (df['work_year'].isin([2023, 2024])) & 
    (df['experience_level'].isin(['MI', 'SE'])) & 
    (df['employment_type'] == 'FT') & 
    (df['company_size'].isin(['L', 'M'])) & 
    (df['job_title'].isin(['Data Engineer', 'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'])) & 
    (df['company_location'] == 'US') & 
    (df['employee_residence'] == 'US')
]
filtered_df = filtered_df.drop(columns=['salary_currency', 'salary'])
accepted_remote_ratio = [0, 100]
filtered_df = filtered_df[filtered_df['remote_ratio'].isin(accepted_remote_ratio)]
filtered_df = filtered_df.drop(columns=['employee_residence', 'company_location', 'employment_type'])  
filtered_df.head()

,work_year,experience_level,job_title,salary_in_usd,remote_ratio,company_size
12,2024,MI,Data Analyst,112300,0,M
13,2024,MI,Data Analyst,75100,0,M
22,2024,SE,Machine Learning Engineer,190000,0,M
23,2024,SE,Machine Learning Engineer,100000,0,M
24,2024,MI,Data Scientist,150650,0,M

In [9]:
# Calculate IQR for the salary coloumn 
Q1 = filtered_df['salary_in_usd'].quantile(0.25)
Q3 = filtered_df['salary_in_usd'].quantile(0.75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


outliers = filtered_df[(filtered_df['salary_in_usd'] < lower_bound) | (filtered_df['salary_in_usd'] > upper_bound)]
print(outliers)

       work_year experience_level                  job_title  salary_in_usd  \
174         2024               SE  Machine Learning Engineer         304000
269         2024               SE             Data Scientist         385000
345         2024               SE  Machine Learning Engineer         370000
361         2024               SE  Machine Learning Engineer         302900
362         2024               SE  Machine Learning Engineer         302900
...          ...              ...                        ...            ...
13891       2023               SE             Data Scientist         370000
13902       2023               SE  Machine Learning Engineer         323300
14070       2023               SE  Machine Learning Engineer         318300
14072       2023               SE               Data Analyst         385000
14502       2023               SE              Data Engineer         310000

       remote_ratio company_size
174               0            M
269             100            M
345               0            M
361               0            M
362               0            M
...             ...          ...
13891             0            M
13902             0            M
14070           100            M
14072             0            M
14502             0            M

[155 rows x 6 columns]

In [10]:
filtered_df = filtered_df[(filtered_df['salary_in_usd'] >= lower_bound) & (filtered_df['salary_in_usd'] <= upper_bound)]
outliers = filtered_df[(filtered_df['salary_in_usd'] < lower_bound) | (filtered_df['salary_in_usd'] > upper_bound)]
print(outliers)

Empty DataFrame
Columns: [work_year, experience_level, job_title, salary_in_usd, remote_ratio, company_size]
Index: []

In [11]:
filtered_df.to_csv('cleaned_salaries.csv', index=False)